
.box {
    border-radius: 60% 40% 30% 70%/60% 30% 70%;
    width: 400px;
    animation: img 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background-color: #4f46e5;
    animation-name: box;
}

@keyframes box {

   0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    50% {
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
        background-image: linear-gradient(45der, #71d4f8, #2f9c6b 100%);

    }

    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
}